.edit-card-modal {
  .card-name input {
    width: 100%;
    font-size: 18px;
    margin-bottom: 0.25em;
  }
  .card-notes {
    .notes {
      textarea {
        width: 100%;
        min-height: 20em;
      }
    }
  }
  .controls {
    display: flex;
    justify-content: end;

    margin-top: 0.5em;
    margin-bottom: 0.5em;

    :not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
