.ReactModal__Overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal {
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 1.5em;

  height: fit-content;

  &.modal-sm {
    width: 40em;
    left: calc(50vw - 20em);
  }

  &.modal-md {
    width: 50em;
    left: calc(50vw - 25em);
  }

  &.modal-lg {
    width: 60em;
    left: calc(50vw - 30em);
  }

  .modal-body {
    padding: 1em 0;
    max-height: 60vh;
    overflow: auto;
  }

  h2 {
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 0;
  }

  h3 {
    margin: 0;
  }
}
