.new-project-modal {
  form {
    input[placeholder="Project Name"] {
      width: 100%;
    }
  }

  .controls {
    display: flex;
    justify-content: end;

    > :not(:last-child) {
      margin-right: 0.25em;
    }
  }
}
