.card-list {
  display: flex;
  flex-direction: column;

  background-color: var(--color-list-bg);
  height: min-content;
  // TODO shouldn't be writing this out like this, very fragile
  max-height: calc(100vh - 42px - 1em);
  width: 280px;
  padding: 1em 0.5em;
  margin: 0.5em 0.25em;
  border-radius: 4px;
  box-shadow: 2px 1px 1px var(--color-shadow);

  .cards {
    // The drop target must have some height to be active (or width for horizontal lists)
    min-height: 1px;
  }

  .list-body {
    overflow: auto;
    margin-top: 0.5em;
  }

  .list-head {
    border-bottom: 1px solid var(--color-text-primary);
    // Cut off long list names
    overflow: hidden;
    text-overflow: ellipsis;
    // Avoid cutting off list names for long lists
    flex-shrink: 0;
  }

  .new-card {
    margin-top: 0.5em;
  }

  .editable-label {
    &.editing {
      margin-bottom: 0.25em;
    }

    .primary-input {
      width: 100%;
    }
  }
}
