.project-list {
  width: 100vw;
  height: 42px;
  min-height: 42px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #6787a4;

  .projects-inner {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .project {
    background-color: #bd7ca3;
    color: white;
    font-size: 13px;
    padding: 10px;
    margin-right: 2px;
    cursor: pointer;

    // Things for very long project names
    max-width: 40ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    // Don't set a max width if we're editing the project name
    &:has(.editable-label.editing) {
      max-width: unset;
    }

    &.active {
      background-color: #d59bbe;
    }
  }

  .controls {
    display: flex;
    flex-direction: row;

    .new-project,
    .settings {
      background-color: #80b2df;
      width: 42px;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      color: white;
      font-size: 24px;
    }

    .new-project {
      margin-right: 2px;
    }

    .settings .gear-icon {
      width: 18px;
      height: 18px;
    }
  }

  .editable-label {
    .primary-input {
      margin-right: 0.25em;
    }
    .controls {
      display: inline;

      > :not(:last-child) {
        margin-right: 0.25em;
      }
    }
  }
}
