.new-project-container {
  display: flex;
  justify-content: center;

  .first-project-helper {
    position: absolute;
    // 42px from header height
    // TODO store this value somewhere
    top: calc(42px + 0.5em);

    background-color: var(--color-list-bg);
    border-radius: 4px;
    box-shadow: 2px 1px 1px var(--color-shadow);
    padding: 0.5em;

    .icon {
      text-align: center;
    }
  }
}
