.card {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  background-color: var(--color-card-bg);
  border-radius: 2px;
  box-shadow: 2px 1px 1px var(--color-shadow-light);
  hyphens: auto;

  display: flex;
  justify-content: space-between;

  &.with-notes .maybe-notes::before {
    content: "✍ ";
  }
}
