.settings-modal {
  .modal-body {
    display: flex;
    flex-direction: row;
  }
  .tab-select {
    display: flex;
    flex-direction: column;

    min-width: 10em;
    border-right: 1px solid rgb(204, 204, 204);
    padding-right: 0.5em;

    .tab-select-btn {
      cursor: pointer;
      text-align: right;

      &.active::before {
        content: "❭";
      }
    }
  }
}
