.mobile-warning {
  position: fixed;
  top: 0.25em;
  left: 0.25em;
  right: 0.25em;
  z-index: 1;

  background-color: orange;
  padding: 0.5em 1em;
  border-radius: 4px;

  display: flex;

  .icon {
    cursor: pointer;
    font-size: x-large;
  }
}

@media screen and (min-width: 480px) {
  .mobile-warning {
    display: none;
  }
}
